{% extends "layouts/main.html" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: true },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Curfew activity, Billy Hoskins" %}

{% block content %}
{% block breadcrumb %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Cases", href: "/cases" },
      { text: "Billy Hoskins", href: "billy-hoskins" }
    ]
  }) }}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
          <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: Y123456 
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        Date of birth: 18 Nov 1995 (Age 29)
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        <a href="https://www.figma.com/proto/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?page-id=6722%3A15258&node-id=6936-6250&p=f&viewport=-4249%2C-4220%2C0.21&t=gk748NC1vQvFiqZc-8&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=6722%3A16450&hide-ui=1" style="color:#505a5f; text-decoration: none;">Sentence: CJA - Community Order</a>
      </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Billy Hoskins
    </h1>
  </div>
</div>

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Overview",
    href: "billy-hoskins"
  },
  {
    text: "Curfew activity",
    href: "",
    active: true
  }, {
    text: "Location activity",
    href: "bh-location"
  }, {
    text: "Case notes",
    href: "bh-case-notes-ems"
  }]
}) }}

<h2 class="govuk-heading-m" id="map-header">Curfew activity</h2>

<section class="bh-curfew-overview govuk-!-margin-bottom-7">
  <div class="bh-curfew-grid govuk-width-container">

    <!-- LEFT HAND narrative -->
    <div class="bh-curfew-left">
      <p class="govuk-body govuk-!-margin-bottom-6">
        Billy Hoskins was <strong>out during curfew for 31 minutes</strong> from 1.05am to 1.36am on Sunday 8 June 2025.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-4">
        Billy <strong>arrived late at their approved address on 5 days</strong> for a total of 33 violation minutes and
        <strong>left early on 1 day</strong> for a total of 7 violation minutes.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        They are now 20 minutes away from breaching their first threshold.
      </p>

      {{ govukInsetText({
        html: "<a href='#atvs'>View Billy’s accumulated time violations (ATV)</a>"
      }) }}
    </div>

    <!-- RIGHT: the forecast card -->
    <aside class="bh-forecast-card" aria-labelledby="forecast-heading">
      <h2 id="forecast-heading" class="govuk-heading-m govuk-!-margin-bottom-2">Forecast</h2>

      <span class="bh-tag bh-tag--danger-outline govuk-!-margin-bottom-3" aria-label="Not likely">
        NOT LIKELY
      </span>

      <p class="govuk-body govuk-!-margin-bottom-4">
        Electronic monitoring calculates the likelihood of compliance as being
        <strong>less than 50%</strong>
      </p>

      <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16">
        Forecasts are updated daily when the latest HDC data is available
      </p>
    </aside>

  </div>
</section>

<h3 id="violation-minutes" class="govuk-heading-m">Violation minutes</h3>

{{ govukDetails({
  summaryText: "Choose date range",
  html: "
  <ul id='range-chooser' class='govuk-list govuk-list--spaced'>
    <li><a href='#' data-range='7'>Last 7 days</a></li>
    <li><a href='#' data-range='30'>Last 30 days</a></li>
    <li class='govuk-!-margin-bottom-0'><a href='#' data-range='43'>Since tag was fitted (43 days)</a></li>
  </ul>"
}) }}

<h4 id="violation-heading" class="govuk-heading-s">Since tag was fitted (43 days)</h4>

<div class="bh-chart-wrap govuk-!-margin-bottom-4">
  <div class="bh-chart-header">
    <button class="govuk-button govuk-button--secondary" id="bh-toggle-view"
            aria-controls="bh-chart, bh-table" data-view="chart">
      Change to accessible table view
    </button>

    <p class="govuk-!-margin-bottom-0 govuk-!-font-size-16">
      Show duration:
      <a href="#" class="bh-duration-link" aria-current="true">All</a> |
      <a href="#" class="bh-duration-link">Over 1 min</a> |
      <a href="#" class="bh-duration-link">Over 5 mins</a> |
      <a href="#" class="bh-duration-link">Over 15 mins</a>
    </p>
  </div>

  <!-- Chart view -->
  <div id="bh-chart" role="img"
       aria-label="Line chart showing violation minutes by day for the selected range."
       class="bh-chart-area">
    <canvas id="violationsChart" width="100%" height="300"></canvas>
  </div>

  <!-- Table view (hidden by default, becomes visible when toggled) -->
<div id="bh-table" hidden>
  <table class="govuk-table" data-module="moj-sortable-table">
    <caption class="govuk-table__caption govuk-table__caption--m" id="bh-table-caption">
      Violation events – since tag was fitted (placeholder data)
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Date</th>
        <th scope="col" class="govuk-table__header">Time</th>
        <th scope="col" class="govuk-table__header">Duration</th>
        <th scope="col" class="govuk-table__header">Violation type</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body" id="bh-events-body">
      <!-- rows injected by JS -->
    </tbody>
  </table>
</div>


{{ govukDetails({
  summaryText: "How these violations were calculated",
  html: "
  <p class='govuk-body'>Violation minutes accumulate when a person on probation (PoP) violates their curfew and are recorded when they:</p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>arrive home after their curfew start time</li>
    <li>leave home during curfew</li>
    <li>leave home before their curfew end time</li>
  </ul>
  <p class='govuk-body'>The violation minutes on show include acceptable, unacceptable and pending violations.</p>
  "
}) }}

<h3 class="govuk-heading-m">Forecast</h3>

<p class='govuk-body'>Billy Hoskins is not likely to comply with their home detention curfew (HDC) over the next 14 days.</p>

<h4 class="govuk-heading-s">How this forecast was calculated</h4>

<p class='govuk-body'>This forecast uses the following 3 variables to produce Billy’s likelihood of compliance with their HDC:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>their number of violation minutes over the last 7 days</li>
  <li>their percentage of total days under HDC with a violation</li>
  <li>whether they have a previous custodial sentence</li>
</ul>

<p class='govuk-body'>A person on probation (PoP) is considered as being not likely to comply with their HDC if their forecast calculates their likelihood of compliance as being less than 50%.</p>

<h4 class="govuk-heading-s">Things you need to know about this forecast</h4>
<p class="govuk-body">This forecast was calculated at 9.30am on Wednesday 11 June 2025.</p>
<p class="govuk-body">This forecast will be updated each day when the latest HDC data is available.</p>


<section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" data-qa="personalDetailsCard">
  <header class="app-summary-card__header">
    <h3 class="app-summary-card__title">Tag and home monitoring unit (HMU)</h3>
  </header>
  <div class="app-summary-card__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <p class="govuk-body">EMS were unable to fit Billy’s HDC tag on Wednesday 5 and Friday 7 March 2025 as they were not available at their approved address. Their tag was fitted on Wednesday 12 March 2025.</p>
        </div>
    </dl>


{{ govukTable({
  attributes: {
    "data-module": "moj-sortable-table"
  },
  caption: "Tag tampers",
  head: [
    {
      text: "Date",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Time",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Tamper type",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Tuesday 8 April 2025",
        attributes: {
          "data-sort-value": "2025-04-08"
        }
      },
      {
        text: "12:36pm",
        attributes: {
          "data-sort-value": "1236"
        }
      },
      {
        html: "<strong class='warning-text'>Strap cut</strong>",
        attributes: {
          "data-sort-value": "strap-cut"
        }
      }
    ],
    [
      {
        text: "Thursday 17 April 2025",
        attributes: {
          "data-sort-value": "2025-04-17"
        }
      },
      {
        text: "7:12pm",
        attributes: {
          "data-sort-value": "1912"
        }
      },
      {
        html: "<strong class='warning-text'>Case open</strong>",
        attributes: {
          "data-sort-value": "case-open"
        }
      }
    ],
    [
      {
        text: "Tuesday 6 May 2025",
        attributes: {
          "data-sort-value": "2025-05-07"
        }
      },
      {
        text: "9:34pm",
        attributes: {
          "data-sort-value": "2134"
        }
      },
      {
        html: "<strong class='warning-text'>Case open</strong>",
        attributes: {
          "data-sort-value": "case-open"
        }
      }
    ],
    [
      {
        text: "Friday 6 June 2025",
        attributes: {
          "data-sort-value": "2025-06-06"
        }
      },
      {
        text: "11:04pm",
        attributes: {
          "data-sort-value": "2304"
        }
      },
      {
        html: "<strong class='warning-text'>Strap cut</strong>",
        attributes: {
          "data-sort-value": "strap-cut"
        }
      }
    ]
  ]
}) }}

<p class="govuk-body">&nbsp;</p>

{{ govukTable({
  attributes: {
    "data-module": "moj-sortable-table"
  },
  caption: "Home monitoring unit (HMU) tampers",
  head: [
    {
      text: "Date",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Time",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Tamper type",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Fri 16 June 2025",
        attributes: {
          "data-sort-value": "2025-06-16"
        }
      },
      {
        text: "21:36pm",
        attributes: {
          "data-sort-value": "2136"
        }
      },
      {
        html: "<strong class='warning-text'>HMU moved</strong>",
        attributes: {
          "data-sort-value": "hmu-moved"
        }
      }
    ]
  ]
}) }}
</div>
</section>

<section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title" data-qa="personalDetailsCard">
  <header class="app-summary-card__header">
    <h3 class="app-summary-card__title">Accumulated time violations (ATVs)</h3>
  </header>
  <div class="app-summary-card__body">
    <div class="govuk-!-margin-bottom-6">
      <p class="govuk-body">
        Billy has built up <strong>100 minutes</strong> in violations since their HDC curfew started on
        <strong>Wednesday 12 March 2025</strong>.
      </p>
      <p class="govuk-body">These are known as accumulated time violations (ATV).</p>
      <p class="govuk-body">Only unacceptable violations are included in Billy’s ATV.</p>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <span data-qa="nameLabel">Accumulated time violations (ATV)</span>
        </dt>
        <dd class="govuk-summary-list__value">
          <span data-qa="nameLabel">100 mins</span>
        </dd>
        <dd><strong class='success-text'>No thresholds breached</strong></dd>
      </div>
    </dl>

</div>
</section>
{# Chart.js #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js" defer></script>

{# Your controller that builds/updates the chart and heading #}
<script src="/public/javascripts/curfew-charts.js" defer></script>


{% endblock %}