{% extends "layouts/main.html" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: true },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Curfew activity, Billy Hoskins" %}

{% block content %}
{% block breadcrumb %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Cases", href: "/cases" },
      { text: "Billy Hoskins", href: "billy-hoskins" }
    ]
  }) }}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
          <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: Y123456 
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        Date of birth: 18 Nov 1995 (Age 29)
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        <a href="https://www.figma.com/proto/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?page-id=6722%3A15258&node-id=6936-6250&p=f&viewport=-4249%2C-4220%2C0.21&t=gk748NC1vQvFiqZc-8&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=6722%3A16450&hide-ui=1" style="color:#505a5f; text-decoration: none;">Sentence: CJA - Community Order</a>
      </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Billy Hoskins
    </h1>
  </div>
</div>

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Overview",
    href: "billy-hoskins"
  },
  {
    text: "Curfew activity",
    href: "",
    active: true
  }, {
    text: "Location activity",
    href: "bh-location"
  }, {
    text: "Case notes",
    href: "bh-case-notes-ems"
  }]
}) }}

<h2 class="govuk-heading-m" id="map-header">Curfew activity</h2>

<section class="bh-curfew-overview govuk-!-margin-bottom-7">
  <div class="bh-curfew-grid govuk-width-container">

    <!-- LEFT HAND narrative -->
    <div class="bh-curfew-left">
      <p class="govuk-body govuk-!-margin-bottom-6">
        Richard Marks was <strong>out during curfew for 31 minutes</strong> from 1.05am to 1.36am on Sunday 8 June 2025.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-4">
        Richard <strong>arrived late at their approved address on 5 days</strong> for a total of 33 violation minutes and
        <strong>left early on 1 day</strong> for a total of 7 violation minutes.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        They are now 20 minutes away from breaching their first threshold.
      </p>

      {{ govukInsetText({
        html: "<a href='#atvs'>View Billy’s accumulated time violations (ATV)</a>"
      }) }}
    </div>

    <!-- RIGHT: the forecast card -->
    <aside class="bh-forecast-card" aria-labelledby="forecast-heading">
      <h2 id="forecast-heading" class="govuk-heading-m govuk-!-margin-bottom-2">Forecast</h2>

      <span class="bh-tag bh-tag--danger-outline govuk-!-margin-bottom-3" aria-label="Not likely">
        NOT LIKELY
      </span>

      <p class="govuk-body govuk-!-margin-bottom-4">
        Electronic monitoring calculates the likelihood of compliance as being
        <strong>less than 50%</strong>
      </p>

      <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16">
        Forecasts are updated daily when the latest HDC data is available
      </p>
    </aside>

  </div>
</section>


{% endblock %}
