{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Design history</h1>
  <p class="govuk-body">Notes on design and development decisions in this prototype.</p>
  <p class="govuk-body"><a href="/">Return to prototype</a></p>

  <dl class="govuk-summary-list govuk-!-margin-top-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">28 August 2025</dt>
      <dd class="govuk-summary-list__value">
        Added <strong>cross-midnight time filtering</strong> to Update Map.  
        LOI polygons now use <span style="color:#d53880;font-weight:bold">pink</span>; trails and arrows use <span style="color:#1d70b8;font-weight:bold">blue</span>.
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">27 August 2025</dt>
      <dd class="govuk-summary-list__value">
        Set up <strong>demo scenarios JSON</strong> with 1 static + 4 moving days, remapped to start at 25/08/2025.
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">26 August 2025</dt>
      <dd class="govuk-summary-list__value">
        Default map base layer switched to <strong>Satellite view</strong>; then later to <strong>Street view</strong>.
      </dd>
    </div>
  </dl>


{% endblock %}
